/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regulr.ttf);
}

@font-face {
    font-family: 'Kaushan Script';
    src: url(../fonts/KaushanScript.ttf);
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../fonts/montserrat_bold.ttf);
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../fonts/Roboto-LightItalic.ttf);
}

.container {
    max-width: 1201px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    background-image: url(../image/intro-banner.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* start header */
.header {
    padding-bottom: 18px;
    padding-top: 18px;
    width: 100%;
}

.logo {
    display: inline-block;
}

.logo__link:hover {
    text-decoration: none;
}


.logo__link {
    text-decoration: none;
    font: 30px "Montserrat", sans-serif;
    font-weight: 800;
}

.navigation {
    line-height: 3;
    float: right;
}

.menu {
    list-style-type: none;
    text-align: right;
}

.menu li {
    display: inline-block;
    padding: 0 34px 0 0;
}

.menu li:last-child {
    padding: 0;
}


.menu li a {
    text-decoration: none;
    font: 14px "Montserrat", sans-serif;
    line-height: 11px;
    font-weight: 400;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    padding-bottom: 12px;
}

/* end header */

 /* coomon style */
.main-heading-lg, .intro-heading-sm,
.intro-btn,
.names p:first-child,
.heading-sm-text {
    text-transform: uppercase;
}

.main-heading, .intro-heading  {
    font-family: "Kaushan Script", sans-serif;
}

.main-heading-lg, .intro-heading-sm {
    font-family: "Montserrat Bold", sans-serif;
}

.names__span,
.main-heading-lg, .intro-heading-sm {
    display: block;
}

.main-heading, .main-heading-lg,
.intro-btn, .logo__link:hover, .logo__link,
.menu li a, .intro-btn:hover,
.footer-btn   {
    color: #fff;
}

.names__span {
    font-family: 'Roboto-LightItalic';
    text-transform: capitalize;
}

.intro-btn, .heading-sm-text,
.names p:first-child  {
    font-family: 'Montserrat';
    font-size: 14px;
}

.intro-btn:hover,
.logo__link {
    text-decoration: none;
}

.underline, .box-sm-goods {
    position: relative;
}

.sm-text,
.text-describe {
    font: 15px 'Roboto', sans-serif;
}

.names__span, 
.sm-text,
.text-describe {
    font-weight: 400;
    line-height: 24px;
    color: #999999;
}


 /* end coomon style */
.block-main {
    margin: 0 auto;
}

.main-heading {
    font-size: 72px;
}

.main-heading-lg {
    font-size: 150px;
}

.intro-btn {
    border: 3px solid #fff;
    width: 153px;
    display: block;
    margin: 0 auto;
    height: 34px;
    line-height: 2;
}

.intro-btn:hover {
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transform: translate(10px, 5px);
        -ms-transform: translate(10px, 5px);
            transform: translate(10px, 5px);
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

.intro-heading {
    font-size: 24px ;
    font-weight: 400;
    text-transform: capitalize;
}

.intro-heading-sm {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 42px;    
}

.intro-heading, .intro-heading-sm {
    color: #333333;
}

.box-text {
    padding-top: 117px;
    text-align: center;
}
 
.underline::before  {
    display: block;
    position: absolute;
    content: "";
    height: 3px;
    width: 60px;
    background-color: #f38181;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    right: 0;
}

.box-goods {
    margin-top: 92px;
}
 
.box-goods li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 255px;
}

.box-sm-goods:hover .name-goods{
    background-color: #1abc9c;
}

.box-goods__img {
    display: block;
    position: absolute;
}

.button-overlay {
    display: inline-block;
    border: 1px solid transparent;
    padding: 14px 12px 13px;
    height: 50px;
    width: 50px;
    background-color: #fce38a;
}

.button-overlay:hover {
    background-color: #f38181;
    border: 1px solid #f38181;   
}

.icons{
    width: 26px;
    height: 23px;
    /* fill: #f38181; */
}
.icons:hover{
   fill: #fff;
}

.box-sm-goods {
    display: inline-block;
}

.box-sm-goods:hover .overlay2 {
    background: -o-linear-gradient(290deg, rgba(243,129,129, 0.5), rgba(252,227,138, 1));
    background: linear-gradient(160deg, rgba(243,129,129, 0.5), rgba(252,227,138, 1));
    -webkit-box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 1);
            box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 1);
    opacity: 1;
}

.box-sm-goods:hover {
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition-duration: 0.25s;
         -o-transition-duration: 0.25s;
            transition-duration: 0.25s;
}

.overlay2 {
    height: 100%;
    width: 100%;
    opacity: 0;
    bottom: 0;
    left: 0;
    top: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
}

.overlay2:hover .all-icons {
    opacity: 1;
}

.icons2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}


.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 66px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.item {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.item:nth-child(3) {
    margin-bottom: 102px;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 336px;
}

.icon {
    margin-right: 28px;
}

.heading-sm-text {
    font-weight: 400;
    margin-bottom: 20px;
}

.box-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 92px;
}

.names {
    text-align: center;
    margin-top: 31px;
}

.names p:first-child {
    color: #333333;
}

/* text  */
.text-describe {
    margin-top: 46px;
}

/* footer */
.footer > .box-flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__p {
    padding: 38px 0 33px;
    font: 14px 'Montserrat-Regular', sans-serif;
    color: #333333;
}

.footer__a {
    font: 16px 'Open sans', sans-serif;
    font-weight: 400;
    color: #f38181;
    text-decoration: none;
}

.footer-btn {
    background-color: #95e1d3;
    border: 1px solid #95e1d3;
    text-transform: uppercase;
    font: 14px "Montserrat", sans-serif;
    text-align: center;
    width: 150px;
    height: 40px;
    font-weight: 700;
    outline:none;
    cursor: pointer;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.border-footer {
    border-top: 1px solid #e5e5e5;
}

.input-email {
    font: 15px 'Roboto-LightItalic', sans-serif;
    color: #cccccc;
    width: 230px;
    height: 40px;
    padding-left: 13px;
    outline:none;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid transparent;
}

.flex-box {
    position: relative;
    padding-left: 30px;
}

.flex-box::before {
    display: block;
    position: absolute;
    content: "";
    height: 33px;
    width: 33px;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
}

.one-decor::before {
    background-image: url(../image/icon-1.png);
}

.two-decor::before {
    background-image: url(../image/icon-2.png);
}

.three-decor::before {
    background-image: url(../image/icon-3.png);
}

.four-decor::before {
    background-image: url(../image/icon-4.png);
}

.five-decor::before {
    background-image: url(../image/icon-5.png);
}

.six-decor::before {
    background-image: url(../image/icon-6.png);
}

input[type="text"]::-webkit-input-placeholder { 
    color: #cccccc; 
}

input[type="text"]::-moz-placeholder { 
    color: #cccccc; 
}

input[type="text"]:-ms-input-placeholder { 
    color: #cccccc; 
}

input[type="text"]::-ms-input-placeholder { 
    color: #cccccc; 
}

input[type="text"]::placeholder { 
    color: #cccccc; 
} 

/* @media (-webkit-min-device-pixel-ratio: 2) {
    .box-sm-goods {
        background-image: url(../image/man-1.jpg);
    }
} */